html
{
overflow-x:hidden;
}
body
{
overflow-x:hidden;
font-size:100%;
}
.navbar
{
margin-bottom:0;
border-radius:0;
background:#f2f2f2;
}
.icon-bar
{
background:#ffffff;
}
.navbar-brand
{
text-decoration:none;
color:#000000;
font-size:2em;
font-family:'Prata';
}
header
{
background:#f2f2f2;
}
img
{
height:210px;
width:200px;
margin-top:120px;
}
.typed-cursor{
opacity: 1;
-webkit-animation: blink 0.7s infinite;
-moz-animation: blink 0.7s infinite;
animation: blink 0.7s infinite;
}
@keyframes blink{
0% { opacity:1; }
50% { opacity:0; }
100% { opacity:1; }
}
@-webkit-keyframes blink{
0% { opacity:1; }
50% { opacity:0; }
100% { opacity:1; }
}
@-moz-keyframes blink{
0% { opacity:1; }
50% { opacity:0; }
100% { opacity:1; }
}
.cvbtn{
text-align:center;
margin-top:70px;
margin-bottom:20px;
font-size:19px;
border:2px solid #483D8B	;
color:#483D8B;
transition: all 0.5s;
}
.cvbtn:hover
{
color:#ffffff;
background:#483D8B;
}
section
{
background:#483D8B;
}
a.one,a.two,a.three
{
color:#ffffff;   
}
a.one:hover,a.one:active,a.two:hover,a.two:active,a.three:hover,a.three:active
{
color:#FFEFD5;
}
footer
{
background:#483D8B;
text-align:center;
}

/* Box Shadow Outset */
.hvr-box-shadow-outset {
  text-align:center;
  margin-top:70px;
  margin-bottom:20px;
  font-size:19px;
  border:2px solid #483D8B	;
  color:#483D8B;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-box-shadow-outset:hover, .hvr-box-shadow-outset:focus, .hvr-box-shadow-outset:active {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}
